nav {
    display: flex;
    flex: row;
    align-items: center;
    justify-content: space-between;
    margin-right: 11%;
    margin-left: 11%;
    padding-top: 1%;
    padding-bottom: 5%;
}

figcaption {
    text-align: center;
    font-size: 18px;
    color: #1F2937;
    flex-wrap: wrap;
}

footer {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1rem;
}

button {
    border-style: hidden;
    border-radius: 6%;
}

.nav-bar {
    background-color: #1F2937;

}

.header-logo {
    color: #F9FAF8;
    font-weight: 600;
    font-size: 24px;
    
}

.nav-link {
    font-size: 18px;
    color: #E5E7EB;
}

.page-hero {
    display: flex;
    flex: row;
    justify-content: center;
    background-color: #1F2937;
    gap: 2rem;
    padding-bottom: 5%;
}

.hero-title {
    font-size: 48px;
    font-weight: 600;
    color: #F9FAF8;
    width: 80%;
}

.subtext {
    font-size: 18px;
    color: #E5E7EB;
}

.sign-up-button {
    font-size: 18px;
    color: #E5E7EB;
    background-color: #3882F6;
}

.page-content {
    padding-left: 30%;
    padding-right: 30%;
    padding-top: 5%;
    padding-bottom: 5%;
}

.content-information {
    display: flex;
    flex: row;
    justify-content: center;
    align-items: center;
    font-size: 36px;
    font-style: extra-bold;
}

.content-image-container {
    display: flex;
    flex: row;
    align-content: center;
    justify-content: space-around;
    gap: 2rem;
}

.content-image {
    border: 5px solid #3882F6;
    border-radius: 10px;
}

.page-quote {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #E5E7EB;
    padding-top: 5%;
    padding-bottom: 5%;
}

.quote-text {
    width: 50%;
    font-size: 36px;
    font-style: italic;
    font-weight: light;
    color: #1F2937;
}

.quote-attribution {
    align-self: flex-end;
    width: 50%;
    font-size: 36px;
    font-style: extra-bold;
    color: #1F2937;
}

.page-call-to-action {
    display: flex;
    flex-direction: row;
    justify-content: center;
    color: #F9FAF8;

}

.call-to-action-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    background-color: #3882F6;
    border-radius: 10px;
    padding: 10px;
    margin: 5%;
    width: 50%;
}

.call-to-action-button {
    border: 2px solid #F9FAF8;
    border-radius: 6%;
}
